@model ProductListingModel

<div class = "row">
  @foreach(var product in Model.Products)
  {
    <div class="card" style="width: 18rem;">
    <img src="@product.ImageURL" class="card-img-top" alt="@product.Name - @product.Price (@product.ProductType")>
    <div class="card-body text-center">
    <h5 class="card-title text-center">@product.Name</h5>
    <p class="card-text">@product.Description</p>
    <a asp-controller="Product" asp-action= "Details" asp-route-id =@product.Id class="btn btn-primary">$@product.Price</a>
    <a asp-controller="Product" asp-action= "Edit" class="btn btn-warning">Edit</a>
    </div>
    </div>
  }
</div>
