@model AllProductsForm

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-4 text-center rounded mx-auto d-block">
    <div class="card mb-4 bgcolor-gray border-none">
        <img asp-for="@Model.ImageURL" src="@Model.ImageURL" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h5 asp-for="@Model.Name" class="card-title text-center">@Model.Name</h5>
            <p asp-for="@Model.Price" class="card-text text-center">Price: $@Model.Price</p>
            <p asp-for="@Model.ProductType" class="card-text text-center">Category: @Model.ProductType</p>
        </div>
        <div class="card mb-2 mt-2">
            <form method="post" asp-action="AddToWishlist">
                <input asp-action="AddToWishlist" asp-controller="Wishlist" asp-route-id="@Model.Id" class="btn btn-outline-success" type="submit" value="Add to Wishlist" />
                <input asp-for="@Model.Id" hidden />
                <input asp-for="@Model.Name" hidden />
                <input asp-for="@Model.ImageURL" hidden />
                <input asp-for="@Model.Description" hidden />
                <input asp-for="@Model.ProductType" hidden />
            </form>
            <form method="post" asp-action="AddToCart">
                <input asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@Model.Id" class="btn btn-outline-warning" type="submit" value="Add to Cart" />
                <input asp-for="@Model.Id" hidden />
                <input asp-for="@Model.Name" hidden />
                <input asp-for="@Model.ImageURL" hidden />
                <input asp-for="@Model.Description" hidden />
                <input asp-for="@Model.ProductType" hidden />
            </form>

        </div>
    </div>
</div>
<div class="text-center mb-3">
    <span asp-for="@Model.Description" STYLE="font-size:18.0pt">@Model.Description</span>
</div>
